---
title:
call_to_action: Contact
background_image_path:
---
<div class="row">
  <div class="col-xs-4">
					<img src="/img/headshot.png" alt="Kani Rubango" class="headshot" /><br />
  </div>
  <div class="col-lg-7">
    <h2>Welcome Friends!</h2>
  	<p>My name is Kani Rubango I am therapist, certified life coach, and spiritual healer. I am a practicing mental health therapist in Iowa and Nebraska. I have an academic background in psychology and social work . I have told my clients in the past, I consider myself a client-centered provider. As a professional, I believe it is imperative to look at the person in their environment and create a unique plan that will best suit their personal goals and value system. This is why I believe in the concept of treating the whole person from multiple perspectives. My goal is to meet you where you are in your personal healing journey and help you become the best version of yourself.</p>
    <p>Talk soon!</p>
    <p>Kani Rubango, MSW, LISW, LCISW, CLC</p>
  </div>
</div>
<div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}"> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div>
