<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
			<div class="navbar-header">
		<a href="/" class="navbar-brand visible-xs" data-target="#navbarCollapse"	data-toggle="collapse">
			<img src="/img/favicon.png" class="nav-logo-small"></a>
		<button type="button" data-target="#navbarCollapse"	data-toggle="collapse" class="navbar-toggle">
			<span class="sr-only">Toggle navigation</span>
			<i class="fa fa-bars fa-2x"></i>
		</button>
	</div>
      <a class="navbar-brand" href="/"><img src="/img/favicon.png" class="nav-logo"></a>
    </div>
		<div id="navbarCollapse" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/mission/">Mission</a></li>
      <li><a href="/therapy/">Therapy</a></li>
      <li><a href="/life-coaching/">Life Coaching</a></li>
      <li><a href="/healing-services/">Healing Services</a></li>
      <li><a href="/contact/">Call Kani</a></li>
    </ul>
		</div>
  </div>
</nav>
