body {
	margin: 0;
	padding: 0;
	background-color: #fefefe;
}

::selection {
  background: #3D473C; /* WebKit/Blink Browsers */
	color: #ffffff;
}
::-moz-selection {
  background: #3D473C; /* Gecko Browsers */
	color: #ffffff;
}

.container {
	margin: 0 auto;
	width: 100%;
}

.box {
	background-color: #fefefe;
	box-shadow: 1px 1px 5px 0 rgba(100, 100, 100, 0.2);
	padding: 20px;
	border-radius: 2px;
}

.hero-img{
	background-position: center;
	background-size: cover;
	height: 350px;
	margin-top: 50px;
	@media (max-width: 760px) {
		height: 250px;
	}
}

.site-logo {
	max-width: 50rem;
	filter: drop-shadow(2px 7px 3px #000000);
	@media (max-width: 760px){
		max-width: 35rem;
	}
	@media (max-width: 400px){
		max-width: 30rem;
	}
}

.navbar-inverse .navbar-nav>li>a {
	color: #dcd0c0;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 4px;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: #c0b283;
}

.headshot-container {
	border-radius: 50%;
	width: 300px;
	height: 300px;
	overflow: hidden;
	display: inline-block;
	margin: auto;
}

hr{
	margin: 0;
	border-top: 1px solid #dadada;
}

.headshot {
	width: 100%;
	border-radius: 50% !important;
	margin: 0 auto;
	display: inline-block;
}

.nav-logo {
	float: left !important;
	max-width: 50px;
	margin: -15px 5px;
	padding: 10px;
	@media(max-width: 760px){
		display: none !important;
	}
}

.navbar-header {
	max-height: 50px;
}

.navbar-collapse {
	background: #373737;
}

.nav-logo-small {
	@media(max-width: 760px) {
		max-width: 30px;
		margin-top: -5px;
	}
}

.navbar{
	@media(max-width: 760px) {
		max-height: 42px;
	}
}


.navbar-inverse{
	background: #373737;
	border-color: #373737;
}

.nav-link {
	text-transform: uppercase;
	font-size: 18px;
}

.navbar-toggle{
	border: 0px;
	margin-top: 0px;
}

.fa-bars {
	color: #c0b283;
}

.fa-2x {
	font-size: 30px !important;
}

.home-logo {
	padding: 5rem 0 0 0;
	@media(max-width: 760px){
		paddign: 2rem 0 0 0;
	}
}

#hero {
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	text-align: center;
}

footer {
	text-align: center;
	background-color: #f4f4f4;
	text-transform: uppercase;
	letter-spacing: 4px;
}

.footer-nav>ul> {
	color: #dcd0c0;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 4px;
}

.footer-nav>ul>a {
	color: #dcd0c0;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 4px;
}

.page-container {
	width: 50%;
	display: block;
	margin: 0 auto;
	@media(max-width: 760px) {
		width: 75%
	}
	@media(max-width: 500px) {
		width: 85%
	}
}

.page-container p {
	margin-top: 4rem;
}

header {
// 	background-size: cover;
// 	background-repeat: no-repeat;
// 	background-position: calc(50% - 40px) 175px;
// 	height: 420px;
// 	box-sizing: border-box;

	.container {
		text-align: center;
	}

	@media (min-width: $mobile-break) {
		background-size: contain;
		background-position: calc(50% - 300px) calc(100% + 20px);

		&.main-hero {
			height: 80vh;
			background-position: calc(50% - 350px) calc(100% + 20px);
		}

		.container {
			text-align: center;
		}
	}

	nav {
		max-width: 100%;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				margin: 0 10px;
			}
		}
	}
}


header,
footer {
	a {
		color: #dcd0c0;

		&.active {
			border-bottom: 2px solid;
		}
	}
	a:hover {
		text-decoration: none;
		color: #c0b283;
	}
}

.site-title {
	text-transform: uppercase;
	text-align: center;
	font-size: 2rem;
	letter-spacing: 4px;
	color: #dcd0c0;
	margin-top: 0 !important;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	line-height: 3;
	filter: drop-shadow(2px 7px 3px #000000);
}

header a.active {
	border-bottom: 2px solid;
}

footer,
section {
	padding: 30px 20px;

	@media (min-width: $mobile-break) {
		padding: 80px 40px;
	}
}

.content img {
	max-width: 100%;
	max-height: 100%;
	height: auto;
	border-radius: 2px;
}

.main {
	@extend .light-section;
	font-size: 20px;
	background-color: #f4f4f4;
}

.light-section {
	background-color: #f5f5f7;
	box-shadow: inset 0px 15px 15px -15px rgba(100, 100, 100, 0.2);
}

.dark-section {
	background-color: #3e3f46;
	color: #c1c1c1;
	box-shadow: inset 0px 15px 15px -15px rgba(0, 0, 0, 0.5);

	a {
		color: #efefef;
		transition: color 0.2s ease;

		&:hover {
			color: #fefefe;
		}
	}
}

.map-section {
	padding: 0;

	#map {
		height: 300px;
	}
}

.quote-section {
	background-color: #dcd0c0;
	color: #373737;
	font-size: 22px;
	font-style: italic;
	padding: 70px 20px;

	.container {
		text-align: center;
	}
}

.staff-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	margin: 0 -20px;

	.staff {
		margin: 20px;
	}
}

.staff {
	@extend .box;
	flex: 1 1 300px;
	flex-wrap: wrap;
	margin: 20px 0;

	p {
		margin: 0;
	}

	small {
		opacity: 0.6;
		font-size: 1.7rem;
	}
}

.staff-info {
	list-style: none;
	margin: 0;
	padding: 0;
}

.staff-details {
	margin: 0;
	display: flex;

	.staff-image {
		margin-right: 20px;
	}
}



footer {
	position: relative;
	font-size: 1.9rem;
	background-color: #373737;
	color: #dcd0c0;
	padding-top: 3rem;
	text-align: right;

	p{
		padding: 10px 0;
		border-bottom: 1px solid #dcd0c0;
		padding-right: 2rem;
	}

	h2 {
		font-size: 2.5rem;
		margin: 0 0 30px 0;
	}

	.footer-columns {
		display: flex;
		flex-flow: wrap;
		margin: -10px -10px 10px -10px;
	}

	.legal-line {
		width: 100%;
		padding: 30px 0 0 0;
		margin: 0;

		a {
			font-style: italic;
		}
	}
}

.footer-links {
	flex: 1 0 180px;
	margin: 10px;
	padding: 0;

	li {
		list-style: none;
		margin: 15px 0;

		a {
			svg {
				fill: #373737;
				margin-right: 10px;
				transition: fill 0.2s ease;
				vertical-align: middle;
				position: relative;
				top: -2px;
				width: 22px;
				height: 22px;
			}

			&:hover svg {
				fill: #73a9c9;
			}
		}
	}
}

.testimonials {
	font-size: 1.8rem;
	display: flex;
	flex-wrap: wrap;
	margin: 0 -20px;
}

.testimonial {
	flex: 1 0 0%;
	margin: 0 20px;
}

.testimonial-author {
	display: flex;
	align-items: center;
	color: #75828a;
	margin: 25px 20px 0 20px;

	img {
		max-width: 30px;
		max-height: 30px;
		border-radius: 50%;
		margin-right: 10px;
		position: relative;
		top: -2px;
	}
}

.testimonial-message {
	@extend .box;
	font-style: italic;
	position: relative;
}

.testimonial-message::before,
.testimonial-message::after {
	content: " ";
	position: absolute;
	transform: translateY(-50%) rotate(45deg);
	background-color: #fefefe;
}

.testimonial-message::before {
	top: 100%;
	left: 25px;
	width: 18px;
	height: 18px;
	box-shadow: 1px 1px 5px 0 rgba(100, 100, 100, 0.2);
}

.testimonial-message::after {
	top: 100%;
	left: 22px;
	height: 24px;
	width: 24px;
	z-index: 1;
	margin-top: -5px;
}


.columns {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -20px;

	.column {
		flex: 1 1 250px;
		margin: 20px;
	}
}

.contact-info {
	margin: 0 0 25px 0;
}


.post-list {
	list-style: none;
	padding: 0;
}

.pagination {
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
	text-align: center;
	align-items: center;

	a,
	span {
		flex: 1;
	}
}

.post-comments {
	@extend .box;
	margin-top: 20px;
}

.post-summary {
	@extend .box;
	display: flex;
	flex-direction: column;

	@media (min-width: $mobile-break) {
		flex-direction: row;
		flex-wrap: wrap;
	}

	&:not(:last-child) {
		margin-bottom: 30px;
	}
}

.post-summary-excerpt {
	margin-bottom: 0;
}

.post-summary-content.has-post-summary-image {
	flex: 0 1 75%;
}

.post-summary-image {
	flex: 0 1 25%;
	box-sizing: border-box;
	margin-bottom: 15px;

	@media (min-width: $mobile-break) {
		margin-bottom: 0;
		padding-right: 20px;
	}
}

.post-summary-details {
	color: #75828a;
	font-size: 1.9rem;
}

.post-summary-author {
	@extend .testimonial-author;
	margin: 1em 0;
}
