<!DOCTYPE html>

<html>
	{% include head.html %}

	<body>
		{% include header.html %}
		{% include navigation.html %}


		<section class="main">
			<div class="container">
				{{ content }}
			</div>
		</section>

		{% if page.call_to_action == 'Map' and site.google_maps_javascript_api_key %}
			<section class="map-section">
				<div id="map"></div>
			</section>
		{% elsif page.call_to_action == 'Contact' %}
			<section class="quote-section">
				<p class="container editable">
					Those who cannot change their minds cannot change anything.<br>
					— George Bernard Shaw
				</p>
			</section>
		{% else %}
			<section class="quote-section">
				<p class="container editable">
					Life is about trusting the mess. Our mess tells our story, and helps create our purpose and message.
				</p>
			</section>
		{% endif %}

		{% include footer.html %}
	</body>
</html>
